# =====================
# Keil uVision
# =====================
Objects/
Debug/
Listings/

*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.bin
.elf

*.uvguix.*
*.uvgui.*
*.scvd
*.bak

# =====================
# CubeMX
# =====================
*.mxproject
*.tmp
*.log

# =====================
# System / Editor
# =====================
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db
.build/
